# To set up local database
# 1. CREATE USER <your_username>
# 2. CREARE DATABASE <your_db_name>


# server env
SERVER_PORT=8080
DB_HOST_DEV=localhost
DB_HOST_PROD=postgres
DB_USER=<your_username>
DB_PASSWORD=<your_password>
DB_NAME=<your_db_name>
DB_PORT=5432
DB_DIALECT=postgres

# postgres env
POSTGRES_USER=<your_username>
POSTGRES_PASSWORD=<your_password>
POSTGRES_DB=<your_db_name>
PGDATA=/var/lib/postgresql/data/pgdata