body {
  margin: 0;
}

.auth-container {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 645px;
  width: 100%;
  background-color: #4D4E67;
  margin: 0;
  color: #FFF;
  font-family: 'Cormorant Garamond';
}

.auth-nav {
  position: absolute;
  right: 60px;
  top: 40px;
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 10px 20px;
  border-bottom: 1px solid white;
}

.auth-nav a {
  color: #FFF;
  font-size: 18px;
  text-decoration: none;
}

.auth-nav a:hover {
  transform: scale(1.2) perspective(1px);
  transition-duration: 0.3s;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-form-title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 3em;
  font-weight: 300;
  background-image: url('../../../dist/assets/noisy-background.jpeg');
  background-size: cover;
  background-position: center 32%;
  padding-left: 40px;
  margin-right: 25px;
  margin-bottom: 40px;
}
.auth-sign-up-title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 3em;
  font-weight: 300;
  background-image: url('../../../dist/assets/noisy-background.jpeg');
  background-size: cover;
  background-position: center 32%;
  padding-left: 40px;
  margin-right: 25px;
  margin-bottom: 40px;
}

.auth-form {
  width: 100%;
}

.auth-form-input {
  display: flex;
  font-weight: lighter;
  font-size: 1em;
  color: #dadada;
  margin-bottom: 30px;
}

.auth-form-input input {
  font-family: 'Cormorant Garamond Medium';
  font-size: 1em;
  margin-left: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #ffffff;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out;
}

.auth-form-input input[type="email"] {
  width: 343px;
}

.auth-form-input input[name="username"] {
  width: 322px;
}

.auth-form-input input[type="confirmPassword"] {
  width: 271px;
}

.auth-form-input input:focus {
  border-color: #9d65d1;
  outline: none;
  transform: scaleX(1);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.login-error {
  color: #ff5555;
}

.auth-form-submit-btn {
  background-color: transparent;
  color: rgb(225, 225, 225);
  font-family: 'Cormorant Garamond';
  font-size: 1.1em;
  align-self: end;
  width: fit-content;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
}

.auth-form-submit-btn::after {
  background: white;
}